<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/addUser" method="post">
        <label for="id"> id </label>
        <input type="number" name="id" id="id">
        <label for="name"> name </label>
        <input type="text" name="name" id="name">
        <label for="job"> job </label>
        <input type="text" name="job" id="job">
        <button type="submit" >add user</button>
       
    </form>

</body>
</html>