<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% users.forEach(user=> { %>
        <ul>
            <form action="/user/deleteUser" method="post">
                <input type="hidden" value="<%= user.id%>" name="id">
                <button type="submit">delete</button>
            </form>
            <li>
                <%=user.id %>
                <br>
                <%=user.name %>
                <br>
                <%=user.job %>
                <br>
                <br>
            </li>
        </ul>
       <% }); %>
</body>

</html>